<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./styles.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GirlScript Asansol</title>
</head>

<body>
    <!---Header section-->
    <header>
        <div class="header-content">
            <img class="gs-asn-logo" src="./assets/asn-logo.png" alt="GS Asansol Logo" height="150px" width="150px">
            <h2>Welcome to GirlScript Asansol <br>
                Education First</h2>
            <div class="line"></div>
            <button onclick="window.location.href='https://discord.gg/vYSspBkgNc';" class="cta-button">Join
                Us</button>
        </div>
    </header>

</body>

</html>