* {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  overflow-x: hidden;
}

.head {
  font-weight: 800;
}
.head1 {
  font-size: 50px;
  text-align: center;
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin-top: -40px;
  color: rgb(39, 14, 2);
}
.bg {
  height: 50%;
  width: 50%;
  margin-bottom: 30px;
}
.container .message {
  font-size: 30px;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.container {
  margin-top: 40px;
  display: flex;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.contact-me div {
  height: auto;
  justify-content: center;
  align-items: center;
}
.contact-me div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: white;
}
.contact-me div div {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 26);
}
.contact-me a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}
.contact-me i {
  color: rgb(247, 232, 232);
  border: solid 1px rgb(255, 252, 252);
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 5px 8px;
  align-items: center;
}
i:hover {
  color: rgb(185, 80, 28);
}

@media (max-width: 720px) {
  body {
    margin: 0;
    height: 100vh;
  }
  .bg {
    height: 60%;
    width: 60%;
    margin-bottom: 10px;
  }
  .head1 {
    font-size: 30px;
    text-align: center;
    font-family: "Goudy Bookletter 1911", sans-serif;
    margin-top: -40px;
    color: rgb(39, 14, 2);
  }
  .container .message {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 70%;
  }
  .contact-me div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
