@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
}
body{
    transition: background 0.2s linear;
}
body.dark {
    background-color: #292c35;
}

  
/*  NavBar Styles goes here */


/*general styling of the navbar like the background color, alignment of the items, gap between the items*/
.navbar{
    padding: 10px;
    background-color: beige;
    display: flex; /*to put the elements one beside the other*/
    align-items: center;
    font-family: Lato;
    gap: 10px; /*added a gap between the logo and the brandname*/
}

/*for the styling the name of community beside the logo*/
.navbar .name{
    line-height: 1.0;
    font-weight: 900;
}

/*to set the size of the logo and make it circular*/
.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.options{
    margin-left: auto; /*to put all the items of navbar(except logo and community name) to the right side of the page*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*styling the items in the navbar(except logo and community name) here*/
.options a{
    text-decoration: none;
    color: black;
    margin:0 10px;
    font-size: 1.1rem;
    
}

.options a:hover{
    border-bottom: 2px solid black; /*added a simple hover event so that a line appears when someone hovers over the items*/

}

.toggle{
    display: none; /*toggle bar will be hidden until respective screen size meets*/
}

/*media queries for responsiveness of navbar*/
@media screen and (max-width: 750px){
    .navbar{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .options{
        margin-top: 15px;
        display: none;
    }

    .options.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .options a{
        display: block;
        padding: 5px;
    }

    .name p{
        display: inline-block;
        position: absolute;
        left: 81px;
        top: 30px;
    }
}
.toggleButton{
  border: none;
  background-color: transparent;
}
.toggleButton .fas{
    font-size: 1.4rem;
}
 
.toggleButton .fa-sun {
  color: rgb(168, 105, 22);
}


/*  Header Section Styles goes here */

header {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("./Assets/asn-junction.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .header-content {
    margin-bottom: 160px;
    color: #fff;
    text-align: center;
  }
  
  .header-content h2 {
    font-size: 7vmin;
    font-family: "Lato", sans-serif;
  }
  
  .line {
    width: 150px;
    height: 3px;
    background: #ffa500;
    margin: 20px auto;
    border-radius: 5px;
  }
  
  .cta-button {
    background: rgb(243, 242, 199);
    border: none;
    z-index: 1;
    width: 140px;
    height: 50px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .cta-button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #feb139;
    background-image: linear-gradient(315deg, #feb139 0%, #feb139 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    color: #fff;
  }
  
  .cta-button:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  
  .cta-button:active {
    top: 2px;
  }
  
  /* header divider wave  */
  
  .header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .header-wave svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 177px;
  }
  
  .header-wave .shape-fill {
    fill: #ffffff;
    position: absolute;
  }
  
  /* css for header ends here */
  





/*  About Us section Styles goes here */






/*  Past Events section Styles goes here */







/*  Our Team section Styles goes here */








/*  FAQ section Styles goes here */









/*  Footer section Styles goes here */


/* pre loader  css styles goes here */
body {
  margin: 0;
  background: #333;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  --color: rgb(238, 149, 90);
  --pos-1: -8vmin;
  --pos-2: -2.66vmin;
  --pos-3: 2.66vmin;
  --pos-4: 8vmin;
  --pos-a: 5.33vmin;
  --pos-b: 16vmin;
  --pos-c: 10.66vmin;
  box-sizing: border-box;
  font-size: 10vmin;
  color: #fafad2;
  text-shadow: 0.5vmin 0.5vmin 0 #000;
}
.loader:before {
  content: "loading";
  font-family: fantasy;
  display: block;
  width: 40vmin;
  height: 20vmin;
  position: absolute;
  text-align: center;
}
.loader:after {
  display: block;
  content: " ";
  background: #f000;
  width: 5vmin;
  height: 5vmin;
  box-shadow: var(--pos-1) var(--pos-c) var(--color), var(--pos-2) var(--pos-c) var(--color), var(--pos-3) var(--pos-c) var(--color), var(--pos-4) var(--pos-c) var(--color), var(--pos-1) var(--pos-b) var(--color);
  animation: 6s infinite loader;
  position: absolute;
}

@keyframes loader {
  0% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-b) var(--color);
  }
  4.16% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-b) var(--color);
  }
  8.33% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-a) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  12.5% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-a) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  16.66% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-b) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  20.83% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-b) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  25% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-a) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  29.16% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-a) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  33.33% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-b) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  37.5% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-b) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color);
  }
  41.66% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-a) var(--color);
  }
  45.83% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-a) var(--color);
  }
  50% {
    box-shadow: var(--pos-1) var(--pos-b) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  54.16% {
    box-shadow: var(--pos-2) var(--pos-b) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  58.33% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-a) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  62.5% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-a) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  66.66% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-b) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  70.83% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-b) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  75% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-a) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  79.16% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-a) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  83.33% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-b) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  87.5% {
    box-shadow: var(--pos-2) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-b) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  91.66% {
    box-shadow: var(--pos-2) var(--pos-a) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  95.83% {
    box-shadow: var(--pos-1) var(--pos-a) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-c) var(--color);
  }
  100% {
    box-shadow: var(--pos-1) var(--pos-c) var(--color),
      var(--pos-2) var(--pos-c) var(--color),
      var(--pos-3) var(--pos-c) var(--color),
      var(--pos-4) var(--pos-c) var(--color),
      var(--pos-1) var(--pos-b) var(--color);
  }
}
