@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
}

body {
  transition: background 0.2s linear;
  overflow: overlay;
}

body.dark {
  background-color: #292c35;
}

/* Scrollbar Effects Goes Here */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 81, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 48, 3);
}

/*  NavBar Styles goes here */

/* general styling for dismissable alert  */
.notif-bar-btn{
  background-color: #FE6155;
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/*general styling of the navbar like the background color, alignment of the items, gap between the items*/
.navbar {
  padding: 10px;
  background-color: beige;
  display: flex;
  /*to put the elements one beside the other*/
  align-items: center;
  font-family: Lato;
  gap: 10px;
  /*added a gap between the logo and the brandname*/
}

/*for the styling the name of community beside the logo*/
.navbar .name {
  line-height: 1.0;
  font-weight: 900;
}
.navbar .name p{
  margin-bottom: 5px;
}
/*to set the size of the logo and make it circular*/
.navbar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.options {
  margin-left: auto;
  /*to put all the items of navbar(except logo and community name) to the right side of the page*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*styling the items in the navbar(except logo and community name) here*/
.options a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 1.1rem;

}

.options a:hover {
  border-bottom: 2px solid rgb(255, 81, 0);
  text-decoration: none;
  color: rgb(255, 81, 0);
  /*added a simple hover event so that a line appears when someone hovers over the items*/

}

.toggle {
  display: none;
  /*toggle bar will be hidden until respective screen size meets*/
}

/*media queries for responsiveness of navbar*/
@media screen and (max-width: 750px) {
  .navbar {
    display: block;
    position: relative;
    padding: 15px 20px;
  }

  .options {
    margin-top: 15px;
    display: none;
  }

  .options.active,
  .toggle {
    display: block;
  }

  .toggle {
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .options a {
    display: block;
    padding: 5px;
  }

  .name p {
    display: inline-block;
    position: absolute;
    left: 81px;
    top: 30px;
  }

  .options a{
    display: inline-block;
    width: 100%;
  }
}

.toggleButton {
  border: none;
  background-color: transparent;
}

.toggleButton .fas {
  font-size: 1.4rem;
}

.toggleButton .fa-sun {
  color: rgb(168, 105, 22);
}

/* dark mode button positioning for mobile */
@media screen and (max-width: 750px) {
  .toggleButton {
    position: absolute;
    top: 25px;
    left: 40%;
    min-width: 50%;
  }
}


/*  Header Section Styles goes here */

.header {
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url("./Assets/asn-junction.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-content {
  margin-bottom: 160px;
  color: #fff;
  text-align: center;
}

.header-content h2 {
  font-size: 7vmin;
  font-family: "Lato", sans-serif;
}

.line {
  width: 150px;
  height: 3px;
  background: rgb(255, 117, 26);;
  margin: 20px auto;
  border-radius: 5px;
}

.cta-button {
  background: rgb(243, 242, 199);
  border: none;
  z-index: 1;
  width: 140px;
  height: 50px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.cta-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: rgb(238, 149, 90);
  background-image: linear-gradient(315deg, rgb(238, 149, 90) 0%, rgb(238, 149, 90)  74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.cta-button:hover {
  color: #fff;
}

.cta-button:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.cta-button:active {
  top: 2px;
}

/* header divider wave  */

.header-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.header-wave svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 177px;
}

.header-wave .shape-fill {
  fill: #ffffff;
  position: absolute;
}

/* made all the values for header-wave class and its sub-classes to initial for mobile */
@media screen and (max-width: 750px) {
  .header-wave {
    position: initial;
    bottom: initial;
    left: initial;
    width: initial;
    overflow: initial;
    line-height: initial;
    transform: initial;
  }

  .header-wave svg {
    position: initial;
    display: initial;
    width: initial;
    height: initial;
  }

  .header-wave .shape-fill {
    fill: initial;
    position: initial;
  }
}


/* css for header ends here */






/*  About Us section Styles goes here */






/*  Past Events section Styles goes here */
.past-events{
  margin: 100px 0;
}

.events-title{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.carousel-item {
  margin-left: 300px;
}

.overlay-image {
  background-image: url(./Assets/pastEventbg.png);
  background-position: center;
  background-size: cover;
  padding: 50px 20px 10px;
}

.past-events h5 {
  font-family: 'Gemunu Libre', sans-serif;

}

.past-events p {
  font-family: 'Ubuntu', sans-serif;
}

.carousel-inner {
  padding: 0 0 4% 5%;
  text-align: center;

}

.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -70px;
}

.carousel-indicators li {
  border-radius: 50%;
}




/*  Our Team section Styles goes here */








/*  FAQ section Styles goes here */

.faq-heading {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 700px;
  margin: 0 auto;
  /* border-radius: 30px; */
}

.faq {
  background-color: rgb(243, 242, 199);
  border: 1px solid #c1c4c7;
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  font-size: large;
}

.faq.active {
  font-size: large;
  background-color: rgb(238, 149, 90) ;
  background-image: linear-gradient(315deg, rgb(238, 149, 90)  0%, rgb(238, 149, 90)  74%);
  transition: all 0.3s ease;
  color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
  font-family: "Lato", sans-serif;

}

.faq-text a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.faq-text a:hover{
  color: #000;
}
.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #222;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}




/* Contact Us section Styles goes here */






/*  Footer section Styles goes here */





/*Cursor section Styles goes here */

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}

/*Canvas*/
#myCanvas {
  background-color: #1f1f1f;
}



