.container-fluid{
   padding-top: 2%;
  
    width:100% ;
   
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0ch;
    top: 0;
    right:0;
    background-position: center;
    background-size: cover;
    opacity: 0.4    ;
    padding-bottom: 4%;

 
 }
h5{
     font-family: 'Gemunu Libre', sans-serif;
     
} p{
    font-family: 'Ubuntu', sans-serif;
}
h1{  font-family: 'Gemunu Libre', sans-serif;
   color: #000000;
    font-weight: bold;
    text-align: center;
   font-size: large;
   padding-bottom: 1%;
}

.carousel-inner{
    padding: 0  15% 3% 15%;
    text-align: center;
   
  
}
.carousel-indicators{
    left: 0;
    top: auto;
    bottom: -70px;}
.carousel-indicators li{ border-radius: 50%;}
.card{
    box-shadow: 0 0 30px rgba(0, 0,0, 0.7);
    overflow: hidden;
    border-radius: 15px;
}
